.about
{
  box-sizing: border-box;
  background-color: $orange;

  min-height: 100vh;
  height: max-content;

  padding-top: 30px;

  &__title
  {
    font-size: $title-mobile;
    color: $blue;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__text
  {
    color: $white;
    font-weight: 500;
    font-size: $text;
    line-height: 35px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 75px;
  }

  &__img
  {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 750px) {
  .about
  {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content
    {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    &__title
    {
      font-size: $title-desk;
    }

    &__img
    {
      max-height: 100vh;
      height: 800px;

      max-width: 600px;
      width: 50%;
    }

    &__text
    {
      margin-bottom: 10px;
    }

    &__img
    {
      margin-bottom: 0;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}