.main
{
  position: relative;
  top: 0;

  padding-top: 60px;

  background-color: $white;
  min-height: 100vh;
  height: max-content;

  &__img
  {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
  }
  
  .title
  {
    position: relative;
  }

  &__title
  {
    color: $red;
    font-size: $title-mobile;
    
    margin-left: 20px;
    margin-right: 40px;
  }  
  
  &__dots
  {
    position: absolute;
    bottom: -55px;
    right: 10px;

    width: 40px;
  }

  .btn
  {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}