.service
{
  min-height: 100vh;


  &__title
  {
    font-size: $title-mobile;
    color: $blue;
    text-align: center;
    width: 100%;
  }

  &__img
  {
    display: block;
    width: 75%;
    max-width: 500px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

.card
{
  &__item
  {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    
    border-top: solid $blue 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.178);
    
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    min-height: 400px;
    height: max-content;
    
    .btn
    {
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
    }
  }

  &__offer
  {
    position: absolute;
    top: -40px;
    right: -40px;

    height: 80px;
  }

  &__title
  {
    color: $red;
    text-align: center;
    font-size: $title-card;
  }

  &__price
  {
    color: $orange;
    font-size: 18px;
    text-align: center;
    
    .discount
    {
      text-decoration: line-through;
      color: $orange;
      font-size: 13px;
    }
  }
  
  &__detail
  {
    color: $orange;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.card-wraper
{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  padding-top: 50px;
}

.details
{
  color: $blue;
  line-height: 25px;
}

@media screen and (min-width: 750px)
{
  .service
  {
    display: flex;
    justify-content: center;
    align-content: flex-start;

    &__img
    {
      width: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__title
    {
      font-size: $title-desk;
    }
  }
}